<html layout:decorate="~{modelo}">
<head>
<meta charset="UTF-8" />
<title>CRUD CLIENTE</title>
<script th:inline="javascript">
    $(function() {
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var nomeCliente = button.data('nomecli') // Extract info from data-* attributes
            var actionUrl = button.data('actionurl');
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
            modal.find('.modal-title').text('Remover cliente ' + nomeCliente);
            modal.find('.modal-body p').text('Deseja remover o cliente ' + nomeCliente + '?');
            modal.find('.modal-footer form').attr('action', actionUrl);
        });
    });
    </script>
</head>
<body>

	<main class="container" layout:fragment="conteudo">
		<div class="row">
			<div class="col-12">
				<div th:if="${!#strings.isEmpty(mensagem)}"
					class="alert alert-success" role="alert">
					<span th:text="${mensagem}"></span>
				</div>
				<div th:if="${!#strings.isEmpty(mensagemError)}"
					class="alert alert-danger" role="alert">
					<span th:text="${mensagemError}"></span>
				</div>
				<h1>LISTA DE CLIENTES</h1>
				<div>
					<table class="table table-striped table-sm">
						<thead class="thead-dark">
							<tr>
								<th class="text-center">ID</th>
								<th class="text-center">Nome</th>
								<th class="text-center">Status</th>
								<th class="text-center">Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cliente : ${listaClientes}">
								<td class="text-center" th:text="${cliente.id}"></td>
								<td class="text-center" th:text="${cliente.nome}"></td>

								<td class="text-center"><span class="label"
									th:text="${cliente.statusCliente.descricao}"
									th:classappend="${cliente.desativado ? 'label-danger' : 'label-success'}"></span>

								</td>
								<td class="text-center"><a class="btn btn-primary"
									th:href="@{/cliente/editar/{id}(id=${cliente.id})}"><i
										class="fa fa-pencil"></i></a> <a href="#" class="btn btn-danger"
									data-toggle="modal" data-target="#deleteModal"
									th:attr="data-nomecli=${cliente.nome},data-actionurl=@{/cliente/{id}/remover(id=${cliente.id})}"><i
										class="fa fa-trash"></i></a></td>

							</tr>
							<tr>
								<td colspan="6" th:if="${#lists.isEmpty(listaClientes)}">Nenhum
									cliente foi encontrado</td>
							</tr>

						</tbody>

					</table>
					<a th:href="@{/cliente/novo}" class="btn btn-success"><i
						class="fa fa-plus"></i> Adicionar</a>
				</div>
			</div>
		</div>
	</main>
	<div layout:fragment="modal-area">
		<div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Remover Cliente</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-dark"
							data-dismiss="modal">Cancelar</button>
						<form method="post">
							<button type="submit" class="btn btn-danger">Apagar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>