<html layout:decorate="~{modelo}">
<head>
    <meta charset="UTF-8" />
    <title>CRUD CLIENTE</title>
    <script th:inline="javascript">
    $(function() {
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var nomeProduto = button.data('nomeprod') // Extract info from data-* attributes
            var actionUrl = button.data('actionurl');
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
            modal.find('.modal-title').text('Apagar produto ' + nomeProduto);
            modal.find('.modal-body p').text('Deseja apagar o produto ' + nomeProduto + '?');
            modal.find('.modal-footer form').attr('action', actionUrl);
        });
    });
    </script>
</head>
<body>
    <main class="container" layout:fragment="conteudo">
       <div th:if="${!#strings.isEmpty(mensagem)}" class="alert alert-success" role="alert">
       <span th:text="${mensagem}"></span>  
       </div>
        <h1> TESTE </h1>
</body>
</html>